@use "../variables.scss";

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 8px;
      transition: transform 0.4s ease-in-out;

      &.rotate {
        transform: rotate(180deg);
      }
    }

    b {
      margin-right: 8px;
    }

    span {
      color: variables.$orange;
      border-bottom: 1px dashed variables.$orange;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 240px;

    ul {
      li {
        padding: 12px 20px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: variables.$orange;
        }
      }
    }
  }
}

// Анимация для плавного появления popup
.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}
